
body {
    margin: 0;
    padding: 0;
    background-image: url('/bgimg.png');
    text-align: center;
    cursor: url("curseurchieng.png"), auto;
}

button {
    background-image: url("chienglogo.png");
    cursor: url("chiengcurseur.png"), pointer; 
    background-color: blue;
    border-radius: 30%;
    border-style: groove;
    border-color: grey;
    box-shadow: 5px 5px 2px black;
}

.button:hover {
    background-color: red;
    border-color: red;
    color: red;
    transform: translateY(4px);
    box-shadow: 8px 8px 2px black;
    }




#logo {
    width: 920px;
}


main {
    position: relative;
    height: 900px;
    width: 900px;
    border: solid 5px grey;
    border-radius: 30px;
    margin: -6px auto 40px auto;
    background-color: aqua;   
}

nav {
    margin: 3% auto;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 10%;
    background-color: bisque;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.cadre {
    background-color:pink;
    height: 260px;
    width: 850px;
    border: 3px solid blue;
    margin: auto;
    border-radius: 20px;
}

.box {
    height: 210px;
    width: 800px;
    overflow: auto;
    margin: auto;
}

.texte {
    text-align: center;
    font-style: italic;
    background-color: blueviolet;
}



.cadre2 {
    background-color:rgb(36, 205, 50);
    height: 160px;
    width: 550px;
    border: 3px solid blue;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
}

.box2 {
    height: 120px;
    width: 500px;
    overflow: auto;
    margin: auto;
}

.texte2 {
    text-align: center;
    font-style: italic;
    background-color: blue;
}



li {
    cursor: pointer;
}

#flamingacceuil {
    width: 130px;
    height: 40px;
    cursor: url("chiengcurseur.png"), pointer; 
}

#flamingforum {
    width: 120px;
    height: 40px;
    cursor: url("chiengcurseur.png"), pointer; 
}

#flamingsolutions {
    width: 150px;
    height: 40px;
    cursor: url("chiengcurseur.png"), pointer; 

}

#flamingbestiaire {
    width: 150px;
    height: 40px;
    cursor: url("chiengcurseur.png"), pointer; 

}